
venv
*.pyc
.DS_store
.env
*.ipynb
data/*
.idea/
*.png
*.csv
*.Rproj.user
*.Rhistory
*.RData

_temp/
emodl/
experiment_configs/
Rfiles/.Rproj.user/
nucluster/errors/
nucluster/outputs/
nucluster/log/
Rfiles/estimate_Rt/from_simulations/
Rfiles/estimate_Rt/using default mean si/
Rfiles/old/
testrun/log.txt
testrun/trajectories.csv
