venv
*.pyc
.DS_store
.env
*.ipynb
data/*
.idea/
_temp/
Rfiles/.Rproj.user/
nucluster/errors/
nucluster/outputs/
Rfiles/estimate_Rt/from_simulations/
Rfiles/estimate_Rt/using default mean si/
Rfiles/old/
emodl/extendedmodel_age8_criticaldet_triggeredrollback.emodl
emodl/extendedmodel_age8_criticaldet_triggeredrollbackdelay.emodl
emodl/extendedmodel_age8_dAsP.emodl
emodl/extendedmodel_age8_dAsP_TD.emodl
emodl/extendedmodel_age8_dAsPSym.emodl
emodl/extendedmodel_age8_dAsPSym_TD.emodl
emodl/extendedmodel_age8_dSym.emodl
emodl/extendedmodel_age8_dSym_TD.emodl
emodl/extendedmodel_age8_gradual_reopening_region_specific.emodl
emodl/extendedmodel_age8_hospdet_triggeredrollback.emodl
emodl/extendedmodel_age8_hospdet_triggeredrollbackdelay.emodl
emodl/extendedmodel_age8_interventionSTOPadj.emodl
emodl/extendedmodel_age8_reopen_changeTD.emodl
emodl/extendedmodel_age8_reopen_dAsP.emodl
emodl/extendedmodel_age8_reopen_dAsP_TD.emodl
emodl/extendedmodel_age8_reopen_dAsPSym.emodl
emodl/extendedmodel_age8_reopen_dAsPSym_TD.emodl
emodl/extendedmodel_age8_reopen_dSym.emodl
emodl/extendedmodel_age8_reopen_dSym_TD.emodl
emodl/extendedmodel_age8_reopen_rollback.emodl
emodl/extendedmodel_age8_rollback.emodl
emodl/extendedmodel_changeTD.emodl
emodl/extendedmodel_critical_triggeredrollback.emodl
emodl/extendedmodel_criticaldet_triggeredrollback.emodl
emodl/extendedmodel_dAsP.emodl
emodl/extendedmodel_dAsP_TD.emodl
emodl/extendedmodel_dAsPSym.emodl
emodl/extendedmodel_dAsPSym_TD.emodl
emodl/extendedmodel_dSym.emodl
emodl/extendedmodel_dSym_TD.emodl
emodl/extendedmodel_EMS_changeTestDelay.emodl
emodl/extendedmodel_EMS_criticaldet_triggeredrollbackonoff.emodl
emodl/extendedmodel_EMS_truncated.emodl
emodl/extendedmodel_gradual_reopening.emodl
emodl/extendedmodel_hosp_triggeredrollback.emodl
emodl/extendedmodel_hospdet_triggeredrollback.emodl
emodl/extendedmodel_interventionStop.emodl
emodl/extendedmodel_interventionSTOPadj.emodl
emodl/extendedmodel_neverSIP.emodl
emodl/extendedmodel_reopen_changeTD.emodl
emodl/extendedmodel_reopen_dAsP.emodl
emodl/extendedmodel_reopen_dAsP_TD.emodl
emodl/extendedmodel_reopen_dAsPSym.emodl
emodl/extendedmodel_reopen_dAsPSym_TD.emodl
emodl/extendedmodel_reopen_dSym.emodl
emodl/extendedmodel_reopen_dSym_TD.emodl
emodl/extendedmodel_reopen_rollback.emodl
emodl/extendedmodel_rollback.emodl
emodl/model_versions/extendedmodel_cobey.emodl
*.png
.Rproj.user
testrun/log.txt
testrun/trajectories.csv
emodl_generators.py
emodl/extendedmodel_EMS_counterfactual_fitKistart.emodl
emodl/extendedmodel_EMS_fit_kistartsm3.emodl
emodl/extendedmodel_EMS_fitsm3.emodl
emodl/extendedmodel_EMS_fitsm4.emodl
emodl/extendedmodel_EMS_fitsm4567.emodl
emodl/extendedmodel_EMS_fitsm5.emodl
emodl/extendedmodel_EMS_fitsm6.emodl
emodl/extendedmodel_EMS_fitsm7.emodl
emodl/extendedmodel_EMS_sm7.emodl
emodl/model_versions/Model version documentation.docx
emodl/model_versions/SEIR_testDelay_full_model.emodl
emodl/model_versions/simplemodel_covid.emodl
emodl/model_versions/simplemodel_testing.emodl
emodl/time_events/change_detections.txt
emodl/time_events/change_test_delay.txt
emodl/time_events/reopening.txt
emodl_generators/seroprevalence_pointrange_plot.py
emodl_generators/test_script_mr.py
experiment_configs/config_sm7.yaml
experiment_configs/extendedcobey_fit_fitKistart.yaml
experiment_configs/extendedcobey_fit_kistartsm3.yaml
experiment_configs/extendedcobey_fitsm123.yaml
experiment_configs/extendedcobey_fitsm3.yaml
experiment_configs/extendedcobey_fitsm4.yaml
experiment_configs/extendedcobey_fitsm4567random.yaml
experiment_configs/extendedcobey_fitsm5.yaml
experiment_configs/extendedcobey_fitsm6.yaml
experiment_configs/extendedcobey_fitsm7.yaml
experiment_configs/spatial_EMS_experiment_fit_kistartsm3.yaml
experiment_configs/spatial_EMS_experiment_fitsm3.yaml
experiment_configs/spatial_EMS_experiment_fitsm4.yaml
experiment_configs/spatial_EMS_experiment_fitsm5.yaml
experiment_configs/spatial_EMS_experiment_fitsm6.yaml
experiment_configs/spatial_EMS_experiment_fitsm7.yaml
experiment_configs/spatial_EMS_experiment_forFit.yaml
experiment_configs/spatial_EMS_experiment_forFit_Ki.yaml
experiment_configs/spatial_EMS_experiment_refit.yaml
experiment_configs/spatial_EMS_experiment_reopen100.yaml
experiment_configs/spatial_EMS_experiment_reopen50.yaml
experiment_configs/spatial_fitsm4567random.yaml
experiment_configs/exp_specific_archive/config_param_delay0.yaml
experiment_configs/exp_specific_archive/config_param_delay3.yaml
experiment_configs/exp_specific_archive/config_param_delay7.yaml
experiment_configs/exp_specific_archive/master_param_CT.yaml
experiment_configs/exp_specific_archive/master_param_CT_HS40.yaml
experiment_configs/exp_specific_archive/master_param_CT_HS80.yaml
experiment_configs/exp_specific_archive/master_param_HS.yaml
experiment_configs/exp_specific_archive/master_param_HS40.yaml
experiment_configs/exp_specific_archive/master_param_HS80.yaml
experiment_configs/exp_specific_archive/model_param_CT.yaml
experiment_configs/input_csv/sampled_Ki_parameters.csv
experiment_configs/input_csv/sampled_parameters_civis_base - Copy.csv
experiment_configs/input_csv/sampled_parameters_civis_base.csv
experiment_configs/input_csv/sampled_parameters_civis_new.csv
experiment_configs/input_csv/sampled_parameters_fitCombo.csv
experiment_configs/input_csv/sampled_parameters_forFit_n100.csv
experiment_configs/input_csv/sampled_parameters_forFit_n100_noKi.csv
experiment_configs/input_csv/sampled_parameters_updated_fit.csv
experiment_configs/input_csv/sampled_parameters_withKi_1000.csv
experiment_configs/input_csv/startdate_ki_pairs.csv
experiment_configs/input_csv/startdate_ki_pairs_samples.csv
experiment_configs/input_csv/test_fit3_combined.csv
experiment_configs/input_csv/test_fit4_combined.csv
experiment_configs/input_csv/test_fit5_combined.csv
experiment_configs/input_csv/del/csv_name_combo_template.csv
experiment_configs/input_csv/del/infectimport_Ki.csv
experiment_configs/input_csv/del/sample_parameters_extended.csv
experiment_configs/input_csv/del/sampled_model_parameters.csv
experiment_configs/input_csv/del/sampled_parameters.csv
experiment_configs/input_csv/del/sampled_parameters_1.csv
experiment_configs/input_csv/del/sampled_parameters_1_startdate1stJan.csv
experiment_configs/input_csv/del/sampled_parameters_1000_v2.csv
experiment_configs/input_csv/del/sampled_parameters_500.csv
experiment_configs/input_csv/del/sampled_parameters_initial.csv
experiment_configs/input_csv/del/sampled_parameters_initial_combo.csv
experiment_configs/input_csv/del/sampled_parameters_initial_combo_nosm1.csv
experiment_configs/input_csv/del/sampled_parameters_lockdown.csv
experiment_configs/input_csv/del/sampled_parameters_lockdown_combo.csv
experiment_configs/input_csv/del/sampled_parameters_lockdown2.csv
experiment_configs/input_csv/del/sampled_parameters_lockdown2_combo.csv
experiment_configs/input_csv/del/sampled_parameters_sm7.csv
experiment_configs/input_csv/del/sampled_parameters_sm7_combo.csv
experiment_configs/input_csv/del/sampled_parameters2.csv
experiment_configs/input_csv/del/sampled_parameterssm7.csv
experiment_configs/input_csv/del/sampled_parameterssm7_2.csv
experiment_configs/snippets/config_locale_Ki_chunk.txt
experiment_configs/snippets/config_locale_time_infection_import_chunk.txt
experiment_configs/snippets/config_weekly_ki_multiplier_fit.txt
experiment_configs/snippets/templates/config_locale_Ki_chunk_template.txt
experiment_configs/snippets/templates/config_locale_time_infection_import_chunk_template - Copy.txt
fitting/config_initialFit.yaml
fitting/emodl_sm7.emodl
fitting/extendedcobey_fit_fitKistart.yaml
fitting/extendedcobey_fit_kistartsm3.yaml
fitting/extendedcobey_fitsm123.yaml
fitting/extendedcobey_fitsm3.yaml
fitting/extendedcobey_fitsm4.yaml
fitting/extendedcobey_fitsm5.yaml
fitting/extendedcobey_fitsm6.yaml
fitting/extendedcobey_fitsm7.yaml
fitting/extendedmodel_EMS_fit_kistartsm3.emodl
fitting/extendedmodel_EMS_fitsm3.emodl
fitting/extendedmodel_EMS_fitsm4.emodl
fitting/extendedmodel_EMS_fitsm5.emodl
fitting/extendedmodel_EMS_fitsm6.emodl
fitting/extendedmodel_EMS_fitsm7.emodl
fitting/master_config_sm7.yaml
fitting/sampled_parameters_1_startdate1stJan.csv
fitting/sampled_parameters_initial.csv
fitting/sampled_parameters_initial_combo.csv
fitting/sampled_parameters_lockdown.csv
*.csv
fitting/spatial_config_sm7.yaml
fitting/spatial_EMS_experiment_fit_kistartsm3.yaml
fitting/spatial_EMS_experiment_fitsm3.yaml
fitting/spatial_EMS_experiment_fitsm4.yaml
fitting/spatial_EMS_experiment_fitsm5.yaml
fitting/spatial_EMS_experiment_fitsm6.yaml
fitting/spatial_EMS_experiment_fitsm7.yaml
fitting/spatial_EMS_experiment_initial.yaml
fitting/submission lines.txt
nucluster/submit_fitting.sh
Rfiles/.RData
Rfiles/.Rhistory
Rfiles/hospital_model_sampleTrajectories.Rhistory
Rfiles/Rplots.pdf
Rfiles/simple_trigger_ICU_prob_script.R
Rfiles/estimate_Rt/.Rhistory
Rfiles/fitting/Rfiles - Shortcut.lnk
Rfiles/fitting/scatter_plot.R
Rfiles/simulation_plotter/mitigation_scenarios_analysis.R
Rfiles/capacity_by_covidregion.html
Rfiles/capacity_by_covidregion.Rmd
Rfiles/capacity_by_covidregion.tex
Rfiles/publication_scripts_ICUprob/fittingparam.R
_SYNCAPP/
*.pdf
testrun/load path instructions.txt
testrun/Package_install_progress.txt
.Rhistory
python
Rfiles/.RData

Rfiles/fitting/
